@import '~@angular/material/theming';

$dark-space-primary-palette: (
    50 : #e4e2e7,
    100 : #bbb8c2,
    200 : #8e889a,
    300 : #615872,
    400 : #3f3553,
    500 : #1d1135,
    600 : #1a0f30,
    700 : #150c28,
    800 : #110a22,
    900 : #0a0516,
    A100 : #7657ff,
    A200 : #4c24ff,
    A400 : #2d00f0,
    A700 : #2800d6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #ffffff,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$dark-space-accent-palette: (
    50 : #e2e3ea,
    100 : #b6b9ca,
    200 : #868ba7,
    300 : #555c84,
    400 : #303969,
    500 : #0c164f,
    600 : #0a1348,
    700 : #08103f,
    800 : #060c36,
    900 : #030626,
    A100 : #6169ff,
    A200 : #2e38ff,
    A400 : #000cfa,
    A700 : #000be0,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #ffffff,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$dark-space-warn-palette: (
    50 : #f7e4ed,
    100 : #eabcd2,
    200 : #dd8fb4,
    300 : #cf6295,
    400 : #c4407f,
    500 : #ba1e68,
    600 : #b31a60,
    700 : #ab1655,
    800 : #a3124b,
    900 : #940a3a,
    A100 : #ffc2d4,
    A200 : #ff8fb0,
    A400 : #ff5c8c,
    A700 : #ff427a,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
