@import '~@angular/material/theming';

$light-space-primary-palette: (
    50 : #ebe8ff,
    100 : #ccc7fe,
    200 : #aba1fe,
    300 : #897bfe,
    400 : #6f5ffd,
    500 : #5643fd,
    600 : #4f3dfd,
    700 : #4534fc,
    800 : #3c2cfc,
    900 : #2b1efc,
    A100 : #ffffff,
    A200 : #fdfdff,
    A400 : #cdcaff,
    A700 : #b5b1ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$light-space-accent-palette: (
    50 : #efe9ff,
    100 : #d6c8ff,
    200 : #bba4ff,
    300 : #9f80fe,
    400 : #8b64fe,
    500 : #7649fe,
    600 : #6e42fe,
    700 : #6339fe,
    800 : #5931fe,
    900 : #4621fd,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #d6ceff,
    A700 : #c0b5ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$light-space-warn-palette: (
    50 : #f7e4ed,
    100 : #eabcd2,
    200 : #dd8fb4,
    300 : #cf6295,
    400 : #c4407f,
    500 : #ba1e68,
    600 : #b31a60,
    700 : #ab1655,
    800 : #a3124b,
    900 : #940a3a,
    A100 : #ffc2d4,
    A200 : #ff8fb0,
    A400 : #ff5c8c,
    A700 : #ff427a,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
